// Style alert boxes.

.alert {
  font-weight: $font-weight-medium;
  color: inherit;
  border-radius: $border-radius;

  @each $color, $value in $theme-colors {
    &-#{$color} {
      & .alert-heading {
        color: $value;
      }

      border-style: solid;
      border-color: $value;
      border-width: 0 0px 0 6px;
      background: rgba($value, 0.1);
    }
  }
}
