// Defense Unicorns theme colors:
// https://www.figma.com/file/aNnt9Ip7IFTs9hnfqrYGl4/Unicorn-UI?type=design&node-id=546-30095&mode=design&t=8xNE9eG5aNvew9SR-0

$uui-primary: #e0e0e0;
$uui-secondary: #68c4ff; // <-- Expose to configuration
$uui-surface: #0d133d;
$uui-success: #66bb6a;
$uui-warning: #ffa726;
$uui-info: #0288d1;
$uui-error: #f44336;
$uui-disabled: rgba(255, 255, 255, 0.5);
$uui-background: #0a0e2e;
$uui-divider: rgba(255, 255, 255, 0.12);

// @font-face ("Montserrat", "fonts/montserrat", "Montserrat", "serif");

@font-face {
    font-family: Montserrat;
    src:
        url("/fonts/montserrat/Montserrat-VariableFont_wght.ttf") format("truetype"),
        url("/fonts/montserrat/Montserrat-VariableFont_wght.woff2") format("woff2");
}

@font-face {
    font-family: Montserrat;
    src:
        url("/fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype"),
        url("/fonts/montserrat/Montserrat-Italic-VariableFont_wght.woff2") format("woff2");
    font-style: italic;
}

$uui-global-font-family: montserrat, serif;

// Text colors to display on UI elements (buttons, etc.)
$uui-on-disabled: #545454;
$uui-on-primary: rgba(0, 0, 0, 0.87);
$uui-on-secondary: rgba(0, 0, 0, 0.87);
$uui-on-surface: white;
$uui-on-success: rgba(0, 0, 0, 0.87);
$uui-on-warning: rgba(0, 0, 0, 0.87);
$uui-on-info: white;
$uui-on-error: white;
$uui-on-background: white;

//Text colors
$uui-text-primary: rgba(255, 255, 255, 0.87); //used for all <hn> and <p>
$uui-text-secondary: rgba(255, 255, 255, 0.7);
$uui-text-icon: rgba(255, 255, 255, 0.8);
$uui-text-disabled: rgba(255, 255, 255, 0.5);
$uui-text-hover: white;
$uui-text-link: $uui-secondary;

// TextFields
$uui-textfield-background: rgba(255, 255, 255, 0.1);
$uui-textfield-backgroundHover: rgba(255, 255, 255, 0.3);
$uui-textfield-bottomLineHover: rgba(255, 255, 255, 0.8);
$uui-textfield-inactive: rgba(255, 255, 255, 0.6);
$uui-textfield-hint: rgba(255, 255, 255, 0.38);
