// Defense Unicorns theme colors:
// https://www.figma.com/file/aNnt9Ip7IFTs9hnfqrYGl4/Unicorn-UI?type=design&node-id=546-30095&mode=design&t=8xNE9eG5aNvew9SR-0

$uui-primary: #e0e0e0;
$uui-secondary: #68c4ff;
$uui-surface: #0d133d;
$uui-success: #66bb6a;
$uui-warning: #ffa726;
$uui-info: #0288d1;
$uui-error: #f44336;
$uui-disabled: shade-color($uui-primary, 50%);
// $uui-disabled: rgba(255, 255, 255, 0.5);
$uui-background: #0a0e2e;
$uui-divider: rgba(255, 255, 255, 0.5);
$uui-gray: rgba(128, 128, 128, 0.6);
$uui-white: #e0e0e0;

$uui-on-disabled: $uui-gray;
$uui-on-primary: rgba(0, 0, 0, 0.87);
$uui-on-secondary: rgba(0, 0, 0, 0.87);
$uui-on-surface: #ffffff;
$uui-on-success: rgba(0, 0, 0, 0.87);
$uui-on-warning: rgba(0, 0, 0, 0.87);
$uui-on-info: #ffffff;
$uui-on-error: #ffffff;
$uui-on-background: #ffffff;

$uui-global-font-family: Roboto, helvetica, sans-serif, arial;
$uui-text-inactive: rgba(255, 255, 255, 0.6);
$uui-text-primary: $uui-primary;
$uui-text-disabled: $uui-text-inactive;
$uui-text-hover: $uui-primary;
$uui-text-background: rgba(255, 255, 255, 0.1);
$uui-text-backgroundHover: rgba(255, 255, 255, 0.3);
$uui-text-bottomLineHover: rgba(255, 255, 255, 0.8);
