// Forward declarations of variables used by _variables.scss and
// _variables_project.scss.
//
// TODO(@chalin): autogenerate the content of this file

// Bootstrap SASS variables:

$white: #fff !default;

$font-size-base: 1rem !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 600 !default;

$spacer: 1rem !default;
