@import "unicorn-theme";

// Full list of bootstrap variables
// https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss

// Bootstrap options
$variable-prefix: bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix: $variable-prefix !default;

// Search input

$input-placeholder-color: $uui-text-disabled;

// $enable-gradients: true !default;
// $enable-shadows: true !default;

// Theme colors
$light: $uui-background !default;
$dark: $uui-background !default;
$primary: $uui-primary !default;
$success: $uui-success !default;
$danger: $uui-error !default;
$error: $uui-error !default;
$info: $uui-info !default;
$warning: $uui-warning !default;
$disabled: $uui-disabled !default;
$surface: $uui-surface !default;

$secondary: $uui-secondary !default;
$background: $uui-background !default;
$body-bg: $uui-background !default;
$code-background: rgb(45,45,45) !default;
$code-inline-background: $uui-divider !default;

$gray-600: $uui-text-disabled;
$text-muted: $uui-text-disabled !default;
$text-primary: $uui-text-primary !default;
$text-secondary: $uui-text-secondary !default;
$text-disabled: $uui-text-disabled !default;

$breadcrumb-active-color: $text-primary;

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
) !default;
// scss-docs-end theme-colors-map

$divider: $uui-divider;

$body-secondary-color: $secondary !default;
$body-emphasis-color: $success !default;

$component-active-color: $text-primary !default;
$component-active-bg: $primary !default;

$body-color: $text-primary !default;

// UI element colors
$navigation-base: lighten($background, 5);

$border-color: $background !default;
$td-sidebar-tree-root-color: $primary !default;
$td-sidebar-bg-color: $navigation-base !default;
$td-sidebar-border-color: $border-color !default;
$td-sidebar-toc-bg-color: $background !default;

// Background colors for the sections on home page etc. It is a paint by number
// system, starting at 0, where the number is taken from the shortcode's ordinal
// if not provided by the user. These colors are all part of the theme palette,
// but the mix is fairly random to create variation. This can be overridden by
// the project if needed.
$td-box-colors: $dark, $primary, $secondary, $info, $white, $gray-600, $success, $warning, $danger !default;

$link-shade-percentage: 30% !default;
$link-color: $uui-text-link !default;
$link-decoration: none !default;
$link-hover-color: $uui-text-hover !default;
$link-hover-decoration: underline !default;

// Fonts

$td-enable-google-fonts: true !default;

$google_font_name: "Roboto" !default;
$google_font_family: "Roboto:300,300i,400,400i,700,700i" !default;
$web-font-path: "https://fonts.googleapis.com/css?family=#{$google_font_family}&display=swap";
$font-awesome-font-name: "Font Awesome 6 Free" !default;

$td-fonts-serif: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@if $td-enable-google-fonts {
  $td-fonts-serif: prepend($td-fonts-serif, "#{$google_font_name}");
}

$font-family-sans-serif: $td-fonts-serif !default;

$font-family-monospace: sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

// Font weights

$font-weight-medium: 500 !default;

$font-weight-body-text: $font-weight-normal !default;

// Heading sizes

$h3-font-size: $font-size-base * 1.5 !default;
$h4-font-size: $font-size-base * 1.35 !default;
$h5-font-size: $font-size-base * 1.15 !default;

// Space

$td-block-space-top-base: 4 * $spacer !default;
$td-block-space-bottom-base: 4 * $spacer !default;

// Pagination

$pagination-color: $gray-600 !default;
$pagination-disabled-color: $uui-on-disabled !default;

// Navbar

$navbar-dark-color: rgba($primary, 0.75) !default;
$navbar-dark-hover-color: $uui-text-hover !default;
$td-navbar-color: $navigation-base !default;
$navbar-height: 56px;

// Dimensions
$sidebar-top-padding: calc(#{$navbar-height} + 20px);
$logo-height: calc(#{$navbar-height} - 6px);

// Footer

$list-inline-padding: $spacer;
