// Bootstrap options

$enable-gradients: true !default;
$enable-shadows: true !default;

// Theme colors
$light: #ffffff !default;
$dark: #0a0e2e !default;

$yiq-text-dark:             $blue !default;
$yiq-text-light:            $white !default;
$text-muted:                  $gray-600 !default;

// Defense Unicorns theme colors: https://www.figma.com/file/aNnt9Ip7IFTs9hnfqrYGl4/Unicorn-UI?type=design&node-id=546-30095&mode=design&t=8xNE9eG5aNvew9SR-0

$primary: #e0e0e0 !default;
$secondary: #68c4ff !default;
$surface: #0d133d !default;
$success: #66bb6a !default;
$warning: #ffa726 !default;
$info: #0288d1 !default;
$error: #f44336 !default;
$danger: #f44336 !default;
$disabled: rgba(255, 255, 255, 0.5) !default;
$background: $dark;
$divider: rgba(255, 255, 255, 0.5);

$on-disabled: rgb(84, 84, 84);
$on-primary: rgba(0, 0, 0, 0.87);
$on-secondary: rgba(0, 0, 0, 0.87);
$on-surface: #ffffff;
$on-success: rgba(0, 0, 0, 0.87);
$on-warning: rgba(0, 0, 0, 0.87);
$on-info: #ffffff;
$on-error: #ffffff;
$on-background: #ffffff;

$textField-inactive: rgba(255, 255, 255, 0.6);
$textField-hover: #ffffff;
$textField-background: rgba(255, 255, 255, 0.1);
$textField-backgroundHover: rgba(255, 255, 255, 0.3);
$textField-bottomLineHover: rgba(255, 255, 255, 0.8);

$text-primary: #ffffff;
$text-secondary: rgba(0, 0, 0, 0.12);
$text-hint: rgba(0, 0, 0, 0.38);
$text-disabled: #87ffff;
$text-icon: rgba(255, 255, 255, 0.8);

$body-bg: $background !default;
$body-color: shade-color($text-primary, 30%) !default;
$code-color: shade-color($text-primary, 30%) !default;

// UI element colors
$navigation-base: lighten($background, 5);

$border-color: $gray-300 !default;
$td-sidebar-tree-root-color: $primary !default;
$td-sidebar-bg-color: $navigation-base !default;
$td-sidebar-border-color: $border-color !default;

// Background colors for the sections on home page etc. It is a paint by number
// system, starting at 0, where the number is taken from the shortcode's ordinal
// if not provided by the user. These colors are all part of the theme palette,
// but the mix is fairly random to create variation. This can be overridden by
// the project if needed.
$td-box-colors: $dark, $primary, $secondary, $info, $white, $gray-600, $success, $warning, $dark, $danger, $primary,
  $secondary, $info !default;

$link-shade-percentage: 30% !default;

$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// Fonts

$td-enable-google-fonts: true !default;

$google_font_name: 'Roboto' !default;
$google_font_family: 'Roboto:300,300i,400,400i,700,700i' !default;
$web-font-path: 'https://fonts.googleapis.com/css?family=#{$google_font_family}&display=swap';
$font-awesome-font-name: 'Font Awesome 6 Free' !default;

$td-fonts-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

@if $td-enable-google-fonts {
  $td-fonts-serif: prepend($td-fonts-serif, '#{$google_font_name}');
}

$font-family-sans-serif: $td-fonts-serif !default; // TODO: consider moving into UG SCSS or namespace the var (td-)

$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default; // TODO: consider moving into UG SCSS or namespace the var (td-)
$font-family-base: $font-family-sans-serif !default; // TODO: consider moving into UG SCSS or namespace the var (td-)

// Font weights

$font-weight-medium: 500 !default; // TODO: move into var forward file after upgrading BS to v5.3+

$font-weight-body-text: $font-weight-normal !default;

// Heading sizes

$h3-font-size: $font-size-base * 1.5 !default; // TODO: consider using BS default (* 1.75), or moving into UG SCSS
$h4-font-size: $font-size-base * 1.35 !default; // TODO: consider using BS default (* 1.5), or moving into UG SCSS
$h5-font-size: $font-size-base * 1.15 !default; // TODO: consider using BS default (* 1.25), or moving into UG SCSS

// Space

$td-block-space-top-base: 4 * $spacer !default;
$td-block-space-bottom-base: 4 * $spacer !default;

// Pagination

$pagination-color: $gray-600 !default; // TODO: consider using BS default
$pagination-disabled-color: $gray-300 !default; // TODO: consider using BS default

// Navbar

$navbar-dark-color: rgba($white, 0.75) !default; // TODO: consider moving into UG SCSS
$navbar-dark-hover-color: rgba($white, 0.5) !default; // TODO: consider moving into UG SCSS

// Footer

$list-inline-padding: $spacer;

/*
$navbar-dark-color:                 rgba($white, .5) !default;
$navbar-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-dark-toggler-border-color:  rgba($white, .1) !default;
*/
