.section-index {
  .entry {
    padding: 0.75rem;
  }

  h5 {
    margin-bottom: 0;

    a {
      font-weight: bold;
    }
  }

  p {
    margin-top: 0;
  }

  .section-title {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: inherit;
    margin-bottom: 1.5rem;
  }

  .index-card-wrapper {
    @extend .card;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40% !important;
    margin-bottom: 1rem !important;
    margin-right: 1rem !important;
  }

  .index-card {
    background-color: $td-navbar-color !important;
    border-radius: $border-radius;
    outline: 2px solid $border-color;
    height: 100%;

    &:hover {
      outline-color: $divider;
    }
  }

  .index-card-link {
    color: $primary;

    &:hover {
      color: $secondary !important;
      text-decoration: none !important;
    }
  }

  .index-card-header {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    background-color: var(--bs-card-cap-bg);
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
  }

  .index-card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  }
}
