/* stylelint-disable no-invalid-position-at-import-rule */

body:lang(fa),
body:lang(ar),
body:lang(az),
body:lang(dv),
body:lang(he),
body:lang(ku),
body:lang(ur) {
  @import "spacing";

  direction: rtl;
  text-align: right;

  .dropdown-menu {
    text-align: right;
  }

  .text-right {
    text-align: left !important;
  }

  pre {
    text-align: left;
    direction: ltr;
  }

  .td-rss-button {
    left: 1rem !important;
    right: auto !important;
  }
}
